<html>
    <head>
        <title> Result</title>
        <style>
            body
                {
                    height : 50%;
                    background-image: url("static/image/image6.jpg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: black;
                }
            </style>
    </head>
    <body>
        <h1 style="font-size :45px; text-align :center; font-family:'Times New Roman', Times, serif; 
color:white;font-weight:bolder;margin-top:20px">Employee will not leave </h1>
    </body>
</html>